.form-container > h2 {
    font-size: 60px;
    font-weight: 400;
    color: #101420;
    position: relative;
}

.form-container {
    background-color: white;
    width: calc(1440px - 62px);
    padding: 30px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    
}

.col-form {
    width: 505px;
    height: 645px;
}

.form-label {
    font-weight: 400;
    color: #101420;
    font-size: 24px;
    line-height: 18px;
    margin-bottom: 0px;
}

.form-control, .form-select {
    font-size: 24px;
    color: #101420;
    width: 505px;
    height: 51px;
    background-color: #f8f8f8;
    border: none;
    border-radius: 0;
}


textarea.form-control {
    height: 494px;
    resize: none;
}

.form-group {
    padding-bottom: 35.4px;
    gap: 3px;
}

.add-button {
    position: relative;
    font-family: 'Open Sans';
    top: 800px;
    left: 1150px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    border-radius: 0;
    background-color:white;
    color: #101420;
    border-bottom-color: #101420;
    border-top: white;
    border-left:white ;
    border-right: white;
}

.add-button:hover {
    background-color:#101420;
}









