.wrapper{
    width: 100%;
    min-height: 100%;
    padding-bottom: 180px;
}
.form-container {
    
    background-color: var(--white);
    width: calc(1440px - 62px);
    padding: 84px;
    padding-bottom: 180px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.form-container>h2 {
    font-family: 'Open Sans';
    font-size: 60px;
    font-weight: 400;
    color: var(--demo-black);
    position: relative;
    margin-bottom: 105px;
}
.form-container-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-form {
    width: 50%;
    min-width: 505px;
}

.form-label {
    font-family: 'Open Sans';
    font-weight: 400;
    color: var(--demo-black);
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 6px;
}
.form-label > span{
    font-size: 12px;
    color: var(--red);
    vertical-align: super;
}
.form-control, .form-select {
    font-family: 'Open Sans';
    font-size: 24px;
    color: var(--demo-black);
    max-width: 505px;
    width: 100%;
    height: 51px;
    padding-left: 74px;
    background-color: var(--lily-white);
    border: none;
    border-radius: 0;
}
.form-group{
    margin-bottom: 32px;
}
.form-control::placeholder,
.form-select::placeholder{
    color: var(--light-grey);
}

.form-control[readonly],
.form-select[readonly] {
    pointer-events: none;
    user-select: none;
}


textarea.form-control {
    height: 507px;
    resize: none;
}

.edit-button{
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.edit-button:hover{
    color: var(--blue)
}

.add-button {
    position: relative;
    width: 374px;
    top: 100px;
    left: 800px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    border-radius: 0;
    background-color:var(--white);
    color: #101420;
    border-bottom-color: #101420;
    border-top: var(--white);
    border-left:var(--white) ;
    border-right: var(--white);
}

.add-button:hover {
    background-color:var(--blue);
}
.input-group{
    width: 100%;
}

.map-view-trigger{
    margin-left: 16px !important;
    display: flex;
    align-items: flex-end;
    color: var(--dark-grey);
    cursor: pointer;
    margin-bottom: 10px;
}
.map-view-trigger:hover {
    color: var(--black);
}
.map-view-trigger span{
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
}
.map-view-trigger svg {
    font-size: 26px;
}

.relatedDocs .list-group-item{
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 20px 16px;
    color: var(--dark-grey);
    font-size: 16px;
    cursor: pointer;
}
.list-group-item:hover,
.list-group-item.selected {
    background-color: var(--lily-white);
    color: var(--demo-black)
}
.relatedDocs .relatedDocs-header{
    background-color: unset;
    cursor: unset;
    font-size: 14px;
    color: var(--light-grey);
}

.scrollable-description {
    max-height: 600px; 
    overflow-y: auto!; 
    padding: 10px; 
    
}
.margin-top-3{
    margin-top: 35px
}
.mt-6{
    margin-top: 72px;
}
.convert-btn{
    cursor: pointer;
    text-align: center;
    height: 51px;
    line-height: 51px;
    margin-bottom: 32px;
    border-radius: 0;
    background-color: var(--white);
    color: var(--demo-black);
    border-bottom: 1px solid var(--demo-black);
}
.convert-btn:hover{
    color: var(--blue);
}