.wrapper{
    width: 100%;
    min-height: 100%;
    padding-bottom: 180px;
}
.layout-container {
    background-color: var(--white);
    width: calc(1440px - 50px);
    padding: 80px 50px;
    padding-bottom: 180px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.layout-container>h2 {
    font-family: 'Open Sans';
    font-size: 60px;
    font-weight: 400;
    color: var(--demo-black);
    position: relative;
    margin-bottom: 105px;
}
.layout-container-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.layout-container-subtitle{
    display: flex;
    justify-content: space-between;
}

.document-list-item .list-group-item{
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: unset;
    padding: 15px 16px;
    color: var(--dark-grey);
    font-size: 14px;
    font-weight: 300;
    cursor: unset;
}
.list-group-item:hover,
.list-group-item.selected {
    background-color: var(--lily-white);
    color: var(--demo-black)
}
.document-list-item .document-list-item-header{
    background-color: unset;
    cursor: unset;
    font-size: 14px;
    line-height: 24px;
    color: var(--light-grey);
}

.add-button{
    position: relative;
    width: 250px;
    top: 0px;
    left: 0px;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    border-radius: 0;
    background-color:var(--white);
    color: #101420;
    border-bottom-color: #101420;
    border-top: var(--white);
    border-left:var(--white) ;
    border-right: var(--white);
}

.add-button:hover {
    background-color:var(--blue);
}


.doc-title {
    text-decoration : underline;
    font-size: 16px;
    cursor: pointer;
}
.doc-title:hover{
    color: var(--blue);
}

.document-list .filesymbol{
    margin-left: 10px;
    font-size: 16px;
    width: 24px;
    height: 24px;
    padding: 10px 0;
    border-bottom: 1px solid var(--black);
    cursor: pointer;
}
.document-list .filesymbol:hover{
    background-color: unset;
    color: unset;
    border-radius: unset;
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
}
.stakeholder-col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.stakeholder-badge {
    color: black;
    padding: 5px 10px;
    border: 1px solid var(--demo-black);
    margin: 5px;
    font-size: 12px;
    width: fit-content;
  }
  
  .stakeholder-architecture-firms {
    background-color: #f8d775;
    border: none;
  }

  .stakeholder-kiruna-kommun {
    background-color: #75edf8;
    border: none;
  }
  
  .stakeholder-residents {
    background-color: #75f8b7;
    border: none;
  }  
  
  .stakeholder-citizens {
    background-color: #b8e4f0;
    border: none;
  }
  
  .stakeholder-white-arkitekter {
    background-color: #a67c52;
    border: none;
  }
  
  .stakeholder-lkab {
    background-color: #f9c74f;
    border: none;
  }
  
  .stakeholder-others {
    background-color: #b8380d;
    border: none;
  }

  .document-list-item-header .sortable-column {
    cursor: pointer;
    color: var(--light-grey);
    font-weight: 300;
}

.document-list-item-header .sortable-column.active {
    font-weight: bold;
    color: var(--black); /* Nero scuro */
}
  
.search-bar-list {
    position: relative;
  }
  
  .search-input-list {
    width: 100%;
    padding: 10px 10px 10px 40px; /* Spazio riservato per il pulsante */
    font-size: 20px;
    border: 1px solid var(--light-grey);
    border-radius: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 750px;
    height: 60px;

  }
  
  .search-input-list:focus {
    outline: none;
    border-color: var(--blue);
  }
  
  .search-button-list {
    position: absolute;
    top: 50%;
    right: 10px; /* Pulsante all'interno del campo */
    transform: translateY(-50%);
    background: var(--light-grey);
    font-family: Times;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    width: 134px;
    height: 40px;
    border-radius: 40px;
    opacity: 0px;
    color: var(--white);
    border: none;
  }
  .search-button-list:hover {
    background-color: var(--blue);
  }
  
 
  
  /* Pulsante dei filtri */
  .filter-container {
    display: flex;
    align-items: center; /* Allinea il pulsante e i filtri verticalmente */
    gap: 15px; /* Spazio tra il pulsante e i filtri */
    margin-top: 20px;
    margin-bottom: 45px;
  }
  
  .filter-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--white);
    color: var(--demo-black);
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  .filter-button svg{
    font-size: 24px;
    margin-right: 10px;
  }
  
  .filter-button:hover {
    background-color: var(--light-grey);
    color: var(--white);
    border-color: var(--light-grey);
  }

  .active-filters {
    display: flex;
    flex-wrap: wrap; /* Permette ai filtri di andare su più righe se necessario */
    gap: 10px; /* Spazio tra i filtri */
}

.filter-tag {
  background-color: #438EF240;
  font-family: 'Inter', sans-serif;;
  border-radius: 40px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400px;
  color: var(--demo-black);
  border: 1px solid #438EF2;
  display: flex;
  align-items: center;
}

.filter-tag span {
  margin-right: 8px;
}

.filter-tag .remove-filter {
  cursor: pointer;
  color: var(--blue);
  font-size: 16px;
}

.filter-tag .remove-filter:hover {
  color: var(--dark-grey);
}

  .map-documents-button {
    display: flex;
    align-items: flex-end;
    color: var(--dark-grey);
    cursor: pointer;
  }

  .map-documents-button:hover {
    color: var(--blue);
  }

  .map-documents-button span {
    margin-left: 10px;
    font-size: 20px;
  }

  .map-documents-button svg {
    font-size: 30px;
  }
  
  .document-list-item-header .sortable-column {
    cursor: pointer;
    display: inline-flex; /* Allinea testo e freccia */
    align-items: center; /* Verticalmente centrati */
    gap: 5px; /* Spazio tra testo e freccia */
    color: var(--light-grey);
  }
  
  .document-list-item-header .sortable-column.active {
    color: var(--black);
    font-weight: bold;
  }
  
  .document-list-item-header .sortable-column:hover {
    color: var(--blue);
  }

  .document-list-empty {
    background-color: var(--lily-white); /* Colore di sfondo per differenziarla */
    color: var(--dark-grey); /* Colore del testo */
    font-size: 16px;
    font-weight: 300;
    padding: 20px;
    text-align: center;
    border: 1px solid var(--light-grey); /* Bordo per evidenziarla */
  }
  
  .document-list-empty .text-center {
    color: var(--grey); /* Per personalizzare il colore del messaggio */
  }
  
  /* Stile per schermi piccoli */
  @media (max-width: 850px) {
    .wrapper{
      width: 100%;
      height: 100%;
      
  }
  .layout-container {
    width: 100%;
}
.layout-container>h2 {
  font-size: 40px;
  
}
.layout-container-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -20%;
}
.layout-container-subtitle{
  display: flex;
  justify-content: space-between;
}

.document-list-item .list-group-item{
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: unset;
  padding: 15px 16px;
  color: var(--dark-grey);
  font-size: 14px;
  font-weight: 300;
  cursor: unset;
}
.list-group-item:hover,
.list-group-item.selected {
  background-color: var(--lily-white);
  color: var(--demo-black)
}
.document-list-item .document-list-item-header{

  font-size: 0px;
  line-height: 0px;
}

.add-button{
  position: relative;
  width: 30%;
  top: 0px;
  left: 0px;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  border-radius: 0;
  background-color:var(--white);
  color: #101420;
  border-bottom-color: #101420;
  border-top: var(--white);
  border-left:var(--white) ;
  border-right: var(--white);
}
.col-md-2{
  font-size: 0px;
}

.col-md-3{
  font-size: 0px;
}
.add-button:hover {
  background-color:var(--blue);
}


.doc-title {
  text-decoration : underline;
  font-size: 16px;
  cursor: pointer;
  width: 250px;
}
.doc-title:hover{
  color: var(--blue);
}

.document-list .filesymbol{
  margin-left: 100px;
  margin-top: -10px;
  font-size: 0px;
  width: 27px;
  height: 27px;
  padding: 10px 0;
  border-bottom: 1px solid var(--black);
  cursor: pointer;
}
.document-list .filesymbol:hover{
  background-color: unset;
  color: unset;
  border-radius: unset;
  color: var(--blue);
  border-bottom: 1px solid var(--blue);
}
.stakeholder-col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.stakeholder-badge {
  color: black;
  padding: 0px 0px;
  border: 0px solid var(--demo-black);
  margin: 0px;
  font-size: 0px;
  width: fit-content;
}

.stakeholder-architecture-firms {
  background-color: #f8d775;
  border: none;
}

.stakeholder-citizens {
  background-color: #b8e4f0;
  border: none;
}

.stakeholder-municipality {
  background-color: #a67c52;
  border: none;
}

.stakeholder-regional-authority {
  background-color: #f9c74f;
  border: none;
}

.stakeholder-others {
  background-color: #b8380d;
  border: none;
}

.document-list-item-header .sortable-column {
  font-size: 0px;
}

.document-list-item-header .sortable-column.active {
  font-weight: bold;
  color: var(--black); /* Nero scuro */
}

.search-bar-list {
  width: 100%;
  position: relative;
}

.search-input-list {
  width: 100%;
  height: 60px;
  font-size: 90%;
}

.search-input-list:focus {
  outline: none;
  border-color: var(--blue);
}

.search-button-list {
  width: 20%;
  font-size: 100%;
}
.search-button-list:hover {
  background-color: var(--blue);
}



/* Pulsante dei filtri */
.filter-container {
  display: flex;
  align-items: center; /* Allinea il pulsante e i filtri verticalmente */
  gap: 15px; /* Spazio tra il pulsante e i filtri */
  margin-top: 20px;
  margin-bottom: 45px;
}

.filter-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--white);
  color: var(--demo-black);
  border: 1px solid var(--light-grey);
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.filter-button svg{
  font-size: 24px;
  margin-right: 10px;
}

.filter-button:hover {
  background-color: var(--light-grey);
  color: var(--white);
  border-color: var(--light-grey);
}

.active-filters {
  display: flex;
  flex-wrap: wrap; /* Permette ai filtri di andare su più righe se necessario */
  gap: 10px; /* Spazio tra i filtri */
}

.filter-tag {
background-color: #438EF240;
font-family: 'Inter', sans-serif;;
border-radius: 40px;
padding: 6px 12px;
font-size: 14px;
font-weight: 400px;
color: var(--demo-black);
border: 1px solid #438EF2;
display: flex;
align-items: center;
}

.filter-tag span {
margin-right: 8px;
}

.filter-tag .remove-filter {
cursor: pointer;
color: var(--blue);
font-size: 16px;
}

.filter-tag .remove-filter:hover {
color: var(--dark-grey);
}

.map-documents-button {
  display: flex;
  align-items: flex-end;
  color: var(--dark-grey);
  cursor: pointer;
}



.map-documents-button span {
  font-size: 0px;
}

.map-documents-button svg {
  font-size: 45px;
  margin-right: -30px;
  margin-left: 10px;
  margin-bottom: 7px;

}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
}

.pagination-button.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}
}