.custom-navbar { /* Background color */
  width: 100%;
  height: 113px;
  padding: 0 62px;
  position: relative;
  display: grid;
  align-items: center;
  z-index: 1;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "Times";
}
.custom-navbar>hr {
  width: 355px;
  height: 1px;
  color: var(--dark-grey);
}

.custom-navbar > h3 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  font-family: "Times";
  text-shadow: -1px -1px 0 var(--grey), 1px -1px 0 var(--grey), 1px 1px 0 var(--grey),
      1px 1px 0 var(--grey);
  color: var(--demo-black); /* Text color */
  text-align: center;
  margin: 0;
  cursor: pointer;
}
  
.profile-icon {
  width: 44px;
  height: 44px;
  color: var(--dark-grey);
  margin-left: auto;
  cursor: pointer;
}

.dark-header{
  background-color: var(--demo-black);
  color: var(--white)
}
.dark-header h3, .dark-header .profile-icon, .dark-header hr {
  color: var(--white)
}

.transparent-header{
  background: transparent !important;
}

