/* General styling */
  .welcome-section {
    text-align: left;
    padding-top: 10%;
    padding-left: 50px;
    height: 635px;
    background-color: var(--demo-black);
    position: relative;
  }
  
  .welcome-section h1 {
    font-size: 4em;
    font-weight: bold;
    color: var(--white);
  }

  .welcome-section h2{
    font-size: 40px;
    color: var(--white);
    text-align: left;
  }
  
  .welcome-section p {
    font-size: 1.8em;
    color: var(--white);
  }
  
  .logo h1 {
    font-size: 2em;
    font-weight: bold;
  }
  
  .main-content {
    padding: 40px;
  }
  
  /* .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .search-bar input {
    width: 80%;
    padding: 12px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  .search-bar button {
    padding: 12px;
    font-size: 1em;
    background-color: var(--demo-black);
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  } */

  /* .search-section col{
      width: 50px;
  } */
  .search-section .row{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-section button {
    padding: 0px;
    background-color: white;
    color: var(--demo-black);
    cursor: pointer;
    border: none;
    box-shadow: 0px 0px 25px lightgray;
    width: 300px;
    height: 170px;
    margin: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .search-section button:hover {
    border: 2px solid var(--blue);
    color: var(--blue);
  }

  .search-section button > svg {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .search-section button>span {
    font-size: 18px;
  }

  .search-section-title{ 
    width: 100%;
    height: 70px;
    padding: 0px 62px;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
    font-family: "Times";
    margin: 50px 0;
  }

  .search-section-title>hr {
    width: 355px;
    height: 1px;
    color: var(--dark-grey);
  }
  .search-section-title>h2 {
    font-size: 60px;
  }
  .map-link{
    margin-top: 200px;
    cursor: pointer;
    width:240px;
  }

  .map-link:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  
  .visitor-map-link{
    font-size: 35px;
    margin-left: 7px;
  }
  

  /* Stile per schermi piccoli */
@media (max-width: 400px) {
  .welcome-section {
    padding: 20px;
    height: 100%;
  }

  .welcome-section h1 {
    font-size: 2.5em;
  }

  .welcome-section h2 {
    font-size: 1.8em;
  }

  .welcome-section p {
    font-size: 1.2em;
  }



  .visitor-map-link {
    font-size: 25px;
    margin-left: 5px;
  }


}