

.selected-file-text{
    margin-top: 13px;

}

.document-uploader .upload-button{
    margin-top: 10px;
    width: 107px;
    height:130px;
}



.file-icon{
    font-size: 40px;
}
.file-added-button {
    margin-top: 10px;
    color: var(--dark-grey);
    background-color: var(--lily-white);
    border: 2px solid var(--lily-white); 
    border-radius: 8px; /* Rounded corners */
    padding: 10px 15px;
    margin-bottom: 10px; /* Space between file items */
    margin-right: 7px;
    transition: all 0.3s ease; /* Smooth transition for hover effect */
    width: 107px;
    height: 130px;
    position: relative;
  }



  .delete-file-btn{
    font-size: 20px;
    background-color: transparent;
    color: red;
    border: none;
    border-radius: 2px; /* Rounded corners */
    cursor: pointer;
    margin-left: 55px;
    margin-top:-5px;
  }

  .delete-file-btn :hover{
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px; /* Rounded corners */
  }

  .file-display {
    display: flex;
    flex-wrap: wrap;  /* Per gestire i bottoni che vanno su una nuova riga se necessario */
    justify-content: flex-start;  /* Allinea i bottoni a sinistra */
  }
  

  .tooltip {
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 100;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
    transform: translateX(-50%); /* Centra il tooltip orizzontalmente */
  }