.relatedDocs .list-group-item{
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 20px 16px;
    color: var(--dark-grey);
    font-size: 16px;
    cursor: pointer;
}
.relatedDocs .list-group-item:hover,
.relatedDocs .list-group-item.selected {
    background-color: var(--lily-white);
    color: var(--demo-black);
    cursor: pointer;
}
.relatedDocs .relatedDocs-header{
    background-color: unset;
    cursor: unset ;
    font-size: 14px;
    color: var(--light-grey);
}
.relatedDocs .relatedDocs-header:hover{
    background-color: unset;
    cursor: unset ;
    font-size: 14px;
    color: var(--light-grey);
}

.connectionform{
    font-family: 'Open Sans';
    font-size: 16px !important;
    padding-left: 15px !important;
    border: 1px solid !important;
    border-color: darkgray !important;
    border-radius: 13px !important;
    background-color: white !important;
    
}

.relatedDocs .filesymbol{
    margin-left: 0;
    padding: 0;
    font-size: 24px !important;
    border-bottom: unset !important;
    
}
.relatedDocs .filesymbol:hover{
}