.UPHomepage {
    background-image: url('../assets/up_background.png'); /* Percorso relativo dell'immagine */
    background-size: cover; /* Rende l'immagine proporzionata al contenitore */
    background-position: center; /* Centra l'immagine */
    background-repeat: no-repeat; /* Evita la ripetizione dell'immagine */
    background-attachment: fixed; /* L'immagine rimane fissa rispetto alla viewport */
    height: 100%; /* Imposta l'altezza della pagina */
    display: flex;
  }

.UPHomepage .main-content{
    position: relative;
    top: 0px;
    left: 0px; 
    width: 2000px;
    display: flex;
    
}
.UPHomepage .search-section .row{
    margin-top: -50px;
}

.search-bar {
    margin: 0 auto;
    display: flex;
  }

  .search-bar .search {
    max-width: 1061px;
    margin-left: 45px;
    height: 70px;
    font-size: 1em;
    border: 1px solid #ddd;
    outline: none !important;
    border-right: unset;
  }

  .form-control:focus {
    outline: none !important;
    border: 1px solid #ddd !important;
    border-right: unset !important;
  }
  
  .search-bar .search-button {
    margin-left: 0px;
    height: 70px;
    width: 70px;
    font-size: 1em;
    background-color: var(--lily-white) !important;
    color: #fff;
    border: 1px solid #ddd;
    border-left: unset;
    border-radius: 0 0 0 0;
    box-shadow: unset;
    cursor: unset;
  }

  .search-bar .search-button:hover {
    background-image: unset !important;
    border: 1px solid #ddd;
    border-left: unset;
    color: white;
  }

  .sendIcon{
    margin-left: -10px;
    cursor: pointer;
    margin-top: 15px;
    background-color: gray;
    border-radius: 40px 40px 40px 40px;
  }
  .sendIcon:hover{
    border: 2px solid #0d6efd;
  }
 
  @media (max-width: 850px) {
    .search-section-title {
      font-size: 1em;
    }
    .search-bar .search {
      max-width: 0px;
      height: 0px;
      font-size: 0em;
      border: 0px solid #ddd;
    }
    .search-bar .search-button {
      margin-left: 0px;
      height: 0px;
      width: 0px;
      font-size: 0em;
      border: 0px solid #ddd;

    }
    .search-bar {
      width: 0px;
      height: 0px;
    }
    .form-control{
      padding: .0rem .0rem;
    }
  }