.UPHomepage {
    background-image: url('up_background.png'); /* Percorso relativo dell'immagine */
    background-size: cover; /* Rende l'immagine proporzionata al contenitore */
    background-position: center; /* Centra l'immagine */
    background-repeat: no-repeat; /* Evita la ripetizione dell'immagine */
    height: 100%; /* Imposta l'altezza della pagina */
    display: flex;
  }

.UPHomepage .main-content{
    position: relative;
    top: 0px;
    left: 0px; 
    width: 2000px;
    display: flex;
    
}
.UPHomepage .search-section .row{
    margin-top: -50px;
}

.search-bar {
    margin: 0 auto;
    display: flex;
  }

  .search-bar input {
    max-width: 1061px;
    margin-left: 45px;
    height: 70px;
    font-size: 1em;
    border: 1px solid #ddd;
    outline: none;
    border-right: unset;

  }
  
  .search-bar button {
    margin-left: 0px;
    height: 70px;
    width: 70px;
    font-size: 1em;
    background-color: var(--lily-white) !important;
    color: #fff;
    border: 1px solid #ddd;
    border-left: unset;
    border-radius: 0 0 0 0;
    box-shadow: unset;
    cursor: unset;
  }

  .search-bar button :hover {
    background-image: unset !important;
    border: 1px solid #ddd;
  }

  .sendIcon{
    margin-left: -10px;
    cursor: pointer;
    margin-top: 15px;
    background-color: gray;
    border-radius: 40px 40px 40px 40px;
  }
 