:root {
    --demo-black: #101420;
    --black: #000;
    --dark-grey: #585757;
    --light-grey: #9A9A9A;
    --grey: #969696;
    --lily-white: #F9FAFA;
    --white: #fff;
    --red: #DC3545;
    --blue: #0d6efd;
    --yellow: #f8d775;
    --green: #28a745;
}