
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.form-container {
    background-color: white;
    padding: 30px;
    width: 1305px;
    display: flex;
    flex-direction: column;
    height: 1627px;
    top: 100px;
    position: relative;
}

.col-form {
    width: 505px;
    height: 645px;
}

.top-form {
    width: 1169px;
    height: 645px;
    top: 120px;
    left: 65px;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
}

h2 {
    font-size: 60px;
    width: 379px;
    height: 69px;
    font-weight: 400;
    color: #101420;
    top: 54px;
    left: 64px;
    line-height: 68.99px;
    position: relative;
}

.form-label {
    font-weight: 400;
    color: #101420;
    font-size: 24px;
    line-height: 18px;
    margin-bottom: 0px;
}

.form-control, .form-select {
    font-size: 24px;
    color: #101420;
    width: 505px;
    height: 51px;
    background-color: #f8f8f8;
    border: none;
    border-radius: 0;
}


textarea.form-control {
    height: 494px;
    resize: none;
}

.form-group {
    padding-bottom: 35.4px;
    gap: 3px;
}

.add-button {
    position: relative;
    font-family: 'Open Sans';
    top: 800px;
    left: 1150px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    border-radius: 0;
    background-color:white;
    color: #101420;
    border-bottom-color: #101420;
    border-top: white;
    border-left:white ;
    border-right: white;
}

.add-button:hover {
    background-color:#101420;
}









