/* General styling */
* {
    width: -webkit-fill-available;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .App {
    text-align: center;
    color: #333;
  }
  
  /* Header styling */
  .header {
    display: flex;
    height: 700px;
    justify-content: space-between;
    padding: 20px;
    background-color: #1A1A1A;
    color: #fff;
  }
  
  .welcome-section {
    text-align: left;
    margin-top: 10%;
  }
  
  .welcome-section h1 {
    font-size: 2.5em;
    font-weight: bold;
  }

  .welcome-section h2{
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    text-align: center;
  }
  
  .welcome-section p {
    font-size: 1.2em;
    color: #cccccc;
  }
  
  .logo h1 {
    font-size: 2em;
    font-weight: bold;
  }
  
  /* Main content styling */
  .main-content {
    padding: 40px;
    background-color: #f2f2f2;
  }
  
  .image-container img {
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .search-section {
    margin-top: 30px;
  }
  
  .search-section h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #333;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .search-bar input {
    width: 80%;
    padding: 12px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  .search-bar button {
    padding: 12px;
    font-size: 1em;
    background-color: #1A1A1A;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #333;
  }
  
  /* Footer styling */
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #1A1A1A;
    color: #fff;
  }
  
  .footer p {
    margin: 0;
    font-size: 1em;
  }